@model List<Postagem>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Blog</h1>
    <p>Confira aqui <aside> últimas nóticias e novidade do mundo!!</aside></p>
</div>

@foreach (Postagem postagem in Model )
{
    <h2>@postagem.Nome</h2>
    <p>@postagem.Descricao</p>
    <img src="@postagem.Foto" width="200"/> 
}